<div class="options-panel delimiter">
  <cs-zones-filter
    [zones]="zones"
    [(ngModel)]="selectedZones"
    (ngModelChange)="update()"
  ></cs-zones-filter>

  <cs-groups-filter
    [groups]="groups"
    [(ngModel)]="selectedGroups"
    (ngModelChange)="update()"
  ></cs-groups-filter>

  <cs-states-filter
    [(ngModel)]="selectedStates"
    (ngModelChange)="update()"
  ></cs-states-filter>

  <cs-divider-vertical></cs-divider-vertical>

  <cs-groupings-filter
    [availableGroupings]="availableGroupings"
    [(ngModel)]="selectedGroupings"
    (ngModelChange)="update()"
  ></cs-groupings-filter>
</div>
